.adc-setup-table tbody tr:last-child {
    text-align: right;
}
.adc-setup-table th {
    text-align: left;
}
.adc-setup-table td,
.adc-setup-table th {
    padding: 10px;   
}
.adc-setup-table .errors {
    text-align: center;
    background-color: #DB4437;
    color: white;
}
.adc-setup-table .error-box {
    margin: 0.5em;
}
.adc-setup-table select, 
.adc-setup-table input {
    height: 30px;
    background: none;
    font-size: 14px;
    padding: 0px 10px;
    box-sizing: content-box;
    border: 1px solid black;
}
.adc-setup-table .btn {
    font-size: 14px;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.adc-setup-table .link-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Arial";
}
.top-menu > a {
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
.top-menu > a.active-blue {
    border-bottom: 2px solid #4285F4;
}
.top-menu > a.active-green {
    border-bottom: 2px solid #0F9D58;
}
.top-menu > a.active-yellow {
    border-bottom: 2px solid #F4B400;
}
.top-menu > a.active-red {
    border-bottom: 2px solid #DB4437;
}